body {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Nunito", sans-serif;
    margin-bottom: 36px;
    @media screen and (max-width: 400px){
        
    }
}