.box{
    width: 78vw;
    margin: auto;
    padding: 100px;
    background-color: #ffffff;
    border-radius: 3px;
    @media screen and (max-width: 960px){
        padding: 49px;
    }
    @media screen and (max-width: 640px){
        padding: 24px;
    }
    @media screen and (max-width: 400px){
        overflow: hidden;
        width: 100%;
        margin: auto;
        padding: 0px;
    }
}