.firstText{
    display: flex;
    flex-wrap: no-wrap;
    @media screen and (max-width: 400px){
        display: flex;
        flex-wrap: wrap;
    }
    .txt{
        padding: 60px 40px 40px 40px;
        @media screen and (max-width: 400px){
            padding: 20px;
        }
        h1{
            font-family: "Caveat", "Nunito", sans-serif;
            font-size: 48px;
            margin-bottom: 48px;
            @media screen and (max-width: 400px){
                text-align: center;
                font-size: 42px;
            }
        }
        p{
            font-size: 20px;
            @media screen and (max-width: 400px){
                padding: 10px;
            }
        }
        .sinalPlus{
            display: flex;
            justify-content: start;
            margin: 64px 24px 0px 0px;
            @media screen and (max-width: 400px){
                display: flex;
                justify-content: right;
                margin: auto;
                padding: 0;
            }
            span{
                font-size: 36px;
                color: rgb(117, 110, 110);
                @media screen and (max-width: 400px){
                    font-size: 48px;
                }
            }
        }
    }
    .imgDup{
        display: flex;
        gap: 48px;
        @media screen and (max-width: 960px){
            gap: 20px;
            
        }
        @media screen and (max-width: 400px){
            gap: 24px;
            justify-content: center;
            margin-top: -40px;
        }
        img{
            @media screen and (max-width: 960px){
                width: 65%;
            }
            @media screen and (max-width: 400px){
                width: 40%;
            }
        }
    }
    .imgDup img:nth-child(even){
        margin-top: 80px;
    }
}