
.secondText{
    display: flex;
    margin-top: 64px;
    position: relative;
    @media screen and (max-width: 400px){
        display: grid;
        grid-template-columns: 1fr;
    }
    .imgSemMargin{
        margin-left: -100px;
        .menina{
            position: relative;
            @media screen and (max-width: 400px){
                width: 85%;
            }
        }
        .remedio{
            position: absolute;
            left: 240px;
            bottom: -75px;
            @media screen and (max-width: 1120px){
                left: 160px;
                bottom: 65px;
            }
            @media screen and (max-width: 1080px){
                left: 180px;
                bottom: 120px;
            }

        }
    }
    .txt2{
        padding: 0px 0px 0px 24px;
        @media screen and (max-width: 1350px){
            padding-left: 80px;

        }
        @media screen and (max-width: 996px){
            padding: 24px;
            margin: auto;
        }
        h3{
            font-size: 24px;
            padding: 24px 0 24px 0;
            @media screen and (max-width: 400px){
                text-align: left;
                margin-top: 32px;
            }
        }
        p{
            font-size: 18px;
            margin-top: 24px;
            line-height: 32px;
        }
    }
}