
.secondText{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 64px;
    @media screen and (max-width: 960px){
        grid-template-columns: 35% 65%;
    }
    @media screen and (max-width: 769px){
        display: grid;
        grid-template-columns: 1fr;
    }
    .imgSemMargin{
        margin-left: -100px;
        @media screen and (max-width: 960px){
            margin-left: -50%;
        }
        .menina{
            position: relative;
            @media screen and (max-width: 1210px){
                width: 85%;
            }
            @media screen and (max-width: 767px){
                width: 60%;
            }
            @media screen and (max-width: 400px){
                width: 85%;
            }
        }
    }
    .txt2{
        margin-top: 75px;
        @media screen and (max-width: 1260px){
            margin-top: 0px;

        }
        @media screen and (max-width: 996px){
            padding: 24px;
            margin: auto;
        }
        h3{
            font-size: 24px;
            padding: 24px 0 24px 0;
            @media screen and (max-width: 400px){
                text-align: left;
                margin-top: 32px;
            }
        }
        p{
            font-size: 18px;
            margin-top: 24px;
            line-height: 32px;
        }
    }
}