@import url(/Users/raquel/Desktop/landscapeII/scss/_reset.css);
.box {
  width: 78vw;
  margin: 100px auto;
  padding: 100px;
  background-color: #ffffff;
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .box {
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 0px;
  }
}

nav {
  margin: 48px 48px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 400px) {
  nav {
    margin: 20px 5px 40px 5px;
  }
}

nav .menuPrincipal {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 88px;
}

@media screen and (max-width: 400px) {
  nav .menuPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav .menuPrincipal .logo {
  width: 120px;
  height: 40px;
  background-color: white;
}

@media screen and (max-width: 400px) {
  nav .menuPrincipal .menuLista {
    display: none;
  }
}

nav .menuPrincipal .menuLista ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
}

nav .menuPrincipal .menuLista ul li:hover {
  color: black;
}

nav .iconePerfil span {
  font-size: 36px;
  color: white;
}

nav .iconePerfil span:hover {
  color: black;
}

body {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
}

.firstText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

@media screen and (max-width: 400px) {
  .firstText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.firstText .txt {
  padding: 60px 40px 40px 40px;
}

@media screen and (max-width: 400px) {
  .firstText .txt {
    padding: 20px;
  }
}

.firstText .txt h1 {
  font-family: "Caveat", "Nunito", sans-serif;
  font-size: 48px;
  margin-bottom: 48px;
}

@media screen and (max-width: 400px) {
  .firstText .txt h1 {
    text-align: center;
    font-size: 42px;
  }
}

.firstText .txt p {
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .firstText .txt p {
    padding: 10px;
  }
}

.firstText .txt .sinalPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 64px 24px 0px 0px;
}

@media screen and (max-width: 400px) {
  .firstText .txt .sinalPlus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin: auto;
    padding: 0;
  }
}

.firstText .txt .sinalPlus span {
  font-size: 36px;
  color: #756e6e;
}

@media screen and (max-width: 400px) {
  .firstText .txt .sinalPlus span {
    font-size: 48px;
  }
}

.firstText .imgDup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

@media screen and (max-width: 400px) {
  .firstText .imgDup {
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -40px;
  }
}

.firstText .imgDup img {
  width: 40%;
}

.firstText .imgDup img:nth-child(even) {
  margin-top: 80px;
}

.iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-top: 48px;
}

@media screen and (max-width: 400px) {
  .iconList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 5px;
  }
}

.iconList div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 16px;
}

@media screen and (max-width: 400px) {
  .iconList div {
    grid-gap: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .iconList div p {
    font-size: 14px;
    text-align: center;
  }
}

.secondText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (max-width: 400px) {
  .secondText {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.secondText .imgSemMargin {
  margin-left: -100px;
}

.secondText .imgSemMargin .menina {
  position: relative;
}

@media screen and (max-width: 400px) {
  .secondText .imgSemMargin .menina {
    width: 85%;
  }
}

.secondText .imgSemMargin .remedio {
  position: absolute;
  right: 700;
  top: 1480px;
}

@media screen and (max-width: 400px) {
  .secondText .imgSemMargin .remedio {
    width: 50%;
    right: 30;
    top: 1780px;
  }
}

.secondText .txt2 {
  padding: 48px;
  margin-left: 48px;
}

@media screen and (max-width: 400px) {
  .secondText .txt2 {
    padding: 24px;
    margin: auto;
  }
}

.secondText .txt2 h3 {
  font-size: 24px;
  padding: 24px 0 24px 0;
}

@media screen and (max-width: 400px) {
  .secondText .txt2 h3 {
    text-align: left;
    margin-top: 32px;
  }
}

.secondText .txt2 p {
  font-size: 18px;
  margin-top: 24px;
  line-height: 32px;
}
/*# sourceMappingURL=main.css.map */