* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.box {
  width: 78vw;
  margin: auto;
  padding: 100px;
  background-color: #ffffff;
  border-radius: 3px;
}
@media screen and (max-width: 960px) {
  .box {
    padding: 49px;
  }
}
@media screen and (max-width: 640px) {
  .box {
    padding: 24px;
  }
}
@media screen and (max-width: 400px) {
  .box {
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 0px;
  }
}

nav {
  margin: 48px 48px 48px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  nav {
    margin: 20px 5px 40px 5px;
  }
}
nav .menuPrincipal {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 88px;
}
@media screen and (max-width: 640px) {
  nav .menuPrincipal {
    gap: 44px;
  }
}
@media screen and (max-width: 400px) {
  nav .menuPrincipal {
    display: flex;
    justify-content: space-around;
  }
}
nav .menuPrincipal .logo {
  width: 120px;
  height: 40px;
  background-color: white;
}
@media screen and (max-width: 400px) {
  nav .menuPrincipal .menuLista {
    display: none;
  }
}
nav .menuPrincipal .menuLista ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (max-width: 996px) {
  nav .menuPrincipal .menuLista ul {
    gap: 24px;
    font-size: 14px;
  }
}
nav .menuPrincipal .menuLista ul li:hover {
  color: black;
}
nav .iconePerfil {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 640px) {
  nav .iconePerfil {
    align-items: start;
  }
}
nav .iconePerfil span {
  font-size: 36px;
  color: white;
}
nav .iconePerfil span:hover {
  color: black;
}

body {
  background-image: url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  margin-bottom: 36px;
}
.firstText {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
@media screen and (max-width: 767px) {
  .firstText {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 400px) {
  .firstText {
    display: flex;
    flex-wrap: wrap;
  }
}
.firstText .txt {
  padding: 60px 40px 40px 40px;
}
@media screen and (max-width: 767px) {
  .firstText .txt {
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  .firstText .txt {
    padding: 20px;
  }
}
.firstText .txt h1 {
  font-family: "Caveat", "Nunito", sans-serif;
  font-size: 48px;
  margin-bottom: 48px;
}
@media screen and (max-width: 400px) {
  .firstText .txt h1 {
    text-align: center;
    font-size: 42px;
  }
}
.firstText .txt p {
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  .firstText .txt p {
    padding: 10px;
  }
}
.firstText .txt .sinalPlus {
  display: flex;
  justify-content: start;
  margin: 64px 24px 0px 0px;
}
@media screen and (max-width: 400px) {
  .firstText .txt .sinalPlus {
    display: flex;
    justify-content: right;
    margin: auto;
    padding: 0;
  }
}
.firstText .txt .sinalPlus span {
  font-size: 36px;
  color: rgb(117, 110, 110);
}
@media screen and (max-width: 400px) {
  .firstText .txt .sinalPlus span {
    font-size: 48px;
  }
}
.firstText .imgDup {
  display: flex;
  justify-content: center;
  gap: 48px;
}
@media screen and (max-width: 960px) {
  .firstText .imgDup {
    gap: 20px;
  }
}
@media screen and (max-width: 400px) {
  .firstText .imgDup {
    gap: 24px;
    justify-content: center;
    margin-top: -40px;
  }
}
@media screen and (max-width: 960px) {
  .firstText .imgDup img {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .firstText .imgDup img {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .firstText .imgDup img {
    width: 40%;
  }
}
.firstText .imgDup img:nth-child(even) {
  margin-top: 80px;
}

.iconList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 48px;
}
@media screen and (max-width: 960px) {
  .iconList {
    margin-top: 0px;
  }
}
@media screen and (max-width: 640px) {
  .iconList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
  }
}
.iconList div {
  display: grid;
  place-items: center;
  grid-gap: 16px;
}
@media screen and (max-width: 400px) {
  .iconList div {
    grid-gap: 24px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 960px) {
  .iconList div img {
    width: 35%;
  }
}
@media screen and (max-width: 960px) {
  .iconList div p {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .iconList div p {
    font-size: 14px;
    text-align: center;
  }
}

.secondText {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 64px;
}
@media screen and (max-width: 960px) {
  .secondText {
    grid-template-columns: 35% 65%;
  }
}
@media screen and (max-width: 769px) {
  .secondText {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.secondText .imgSemMargin {
  margin-left: -100px;
}
@media screen and (max-width: 960px) {
  .secondText .imgSemMargin {
    margin-left: -19%;
  }
}
@media screen and (max-width: 767px) {
  .secondText .imgSemMargin {
    margin-left: -49%;
  }
}
@media screen and (max-width: 550px) {
  .secondText .imgSemMargin {
    margin-left: -6%;
  }
}
@media screen and (max-width: 640px) {
  .secondText .imgSemMargin {
    margin-left: -5%;
  }
}
.secondText .imgSemMargin .menina {
  position: relative;
}
@media screen and (max-width: 1210px) {
  .secondText .imgSemMargin .menina {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .secondText .imgSemMargin .menina {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .secondText .imgSemMargin .menina {
    width: 85%;
  }
}
.secondText .txt2 {
  margin-top: 75px;
}
@media screen and (max-width: 1260px) {
  .secondText .txt2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 996px) {
  .secondText .txt2 {
    padding: 24px;
    margin: auto;
  }
}
.secondText .txt2 h3 {
  font-size: 24px;
  padding: 24px 0 24px 0;
}
@media screen and (max-width: 400px) {
  .secondText .txt2 h3 {
    text-align: left;
    margin-top: 32px;
  }
}
.secondText .txt2 p {
  font-size: 18px;
  margin-top: 24px;
  line-height: 32px;
}/*# sourceMappingURL=main.css.map */